 
body {
  font-size: 2vw; 
}

#joystick {
  border: 2px solid black;
  /*position: absolute;
  top: 10px;
  right: 10px;*/
  background-color: lightblue;
  cursor: crosshair;
}

#joystick::before {
  content: "Pan : " attr(data-pan);
  position:absolute;
  text-align:left;
  width:inherit;
  height:inherit;
  display: block;
  font-size: 12px;
}
#joystick::after {
  content: "Tilt : " attr(data-tilt);
  position: absolute;
  text-align: left;
  width: inherit;
  height: inherit;
  display: block;
  margin-top: 1.5em;
  font-size: 12px;
}

textarea {
  white-space: pre-wrap;
  border: 0;
  display: block;
  width: 80em;
  box-sizing: border-box;
  height: 20em;
}

#motion {
  position: relative;
  min-width: 320px;
  min-height:200px;
}

/*
#motion::before {
    content: "HotSpots : " attr(data-hotspots) " / " attr(data-maxspots);
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    display: block;
    z-index: 15870758758758758758787;
    background: rgba(0,0,0,0.5);
    padding: .2em .3em;
}*/

canvas {
  position: absolute; 
}

#canvas-source {
	width: 100%;
}

#canvas-source, #canvas-highlights {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}

#canvas-blended {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
}

#hotSpots {
	position: relative;
	display: none;
	height: 100%;
}

#hotSpots > * {
	position: absolute;
	-moz-transition: all 80ms linear;
	-webkit-transition: all 80ms linear;
	transition: all 80ms linear;
}

/* Feel free to change this or turn it off altogether*/
.active {
	background: rgba(255, 255, 255, 0.7);
	-moz-transition: all 150ms linear;
	-webkit-transition: all 150ms linear;
	transition: all 150ms linear;
}

#one {
	width: 16%;
	height: 20%;
	top: 31%;
	left: 0;
	margin-top: -10%;
}

#another {
	width: 20%;
	height: 10%;
	top: 0;
	left: 50%;
	margin-left: -10%;
}


#hotSpots > .grid {
  float: left;
  display: block;
  position: relative;
  
}


fieldset > label {
  display: block; 
}
